<div class="container">
  <mat-toolbar color="primary" class="menu">
    <div class="logo-section">
      <img src="assets/image/MyConces-removebg-preview.png" alt="Logo" class="logo">
    </div>

    <div class="menu-section">
      <button mat-button routerLink="/sobre">Sobre</button>
      <button mat-button routerLink="/login" class="login-button"><span class="login-text">Login</span></button>
    </div>
  </mat-toolbar>

  <div class="bottom-section">
    <div class="left-side">
      <h1>O melhor gerenciador de estoque para sua concessionária</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita vitae rem laudantium esse. Rerum beatae reiciendis, inventore dolorum, optio autem ad maxime, corporis neque dolor illo reprehenderit nisi voluptate illum!</p>
      <button mat-button class="button-home"><span class="button-text">Saber mais</span></button>
    </div>

    <div class="right-side">
      <img src="assets/image/home-image.jpg" alt="Imagem" class="image">
    </div>
  </div>
</div>
